#toplevel_page_woocommerce-mailchimp-discount div.wp-menu-image:before {
	background-image: url('../images/icon.svg') !important;
	content: '' !important;
	position: relative;
	top: 10px;
	background-repeat: no-repeat;
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
}
#wsac_optionsframework-wrap .queries-holder {overflow: hidden; padding-top:0px;}
#wsac_optionsframework-wrap .queries-items-wrapper {
	position: relative;
}
#wsac_optionsframework-wrap .lSSlideOuter {
	top: -19px;
}